html{
    background-color:#fffaea;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

*{
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
  }
  
a {
text-decoration: none;
}
  
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #fffaea ;

  }
  
.navigation a {
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#1c1c1c;
    transition: 0.5s;

}

.navigation a:hover {
    color:#67a8b9;
    border-bottom: 2px solid #67a8b9;
}

nav ul {
    display: flex;
    gap: 4rem;
}
  
.burger-menu {
    color:#1c1c1c;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

h3 {
    font-weight: lighter;
    font-size: 1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0;
}

.logo {
    width: 100px;
    margin-left: 2rem;
    border-bottom: 0;
}

.hero-container{
    display: flex;
    height: 100%;
    margin: 3% 0;
}

.intro-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    color:#1c1c1c;
    font-weight: lighter;
    margin-bottom: 5%;
}

.love-style{
    border-bottom: #67a8b9 dotted 0.3rem;    
}

.intro-sub{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    color:#1c1c1c;
}

.icon-menu {
    width: 20px;
}

.hero-middle{
    display: flex;
    width: 33%;
    align-items: center;
    position: relative;
    flex-direction: column;
    overflow: hidden;

}

.hero-left{
    width: 33%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    overflow: hidden;
}

.hero-right{
    width: 33%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    overflow: hidden;
}


.img1 {
    position: relative;
    top: 50%;
    left: 70%;
    width:30%;
    animation: pic 2s;
    animation-fill-mode: forwards;

}

 
@keyframes pic {
    0% { opacity: 0; }
    50% { opacity: 0; }
    51% { opacity: 1; }
    100% { opacity: 1;transform: translate(-50%, -50%) scale(1); }
  }
 
  
.img2 {
    position: relative;
    top: 100%;
    left: 35%;
    width:35%;
    animation: pic 2s;
    animation-fill-mode: forwards;
}

.img3 {
    position: relative;
    top: 70%;
    left: 65%;
    width:45%;
    animation: pic 2s;
    animation-fill-mode: forwards
}

.img4{
    position: relative;
    top: 60%;
    left: 55%;
    width:40%;
    animation: pic 2s;
    animation-fill-mode: forwards;
}

.img5 {
    position: relative;
    top: 90%;
    left: 40%;
    width:40%;
    animation: pic 2s;
    animation-fill-mode: forwards;
}

.img6 {
    position: relative;
    left:15%;
    width:35%;
    top:0%;
}

.img7 {
    position: relative;
    width:55%;
    top:-10%;
    left: 50%;
}

.products {
    background-color: #fff;
    width: 100vw;
    padding: 8em 0;
    display: flex;
}
  
.product-pic {
    width: 100%;
    height: 100%;
}

.product-title{
    color: rgb(85, 85, 85);
}

.products-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.product-container {
    text-align: center;
    width: 15%;
    padding: 1%;
}

.product-card {
    text-align: left;
    width:20%
    
}

.slider-container {
    background-color: #fffaea;
    height: 100%;
    padding: 2% 0;
}

.slider-container-items {
    display: flex;
    margin: 5% 10%;
    align-items: center;
}

.slider-par-title {
    width: 50%;
    color: #1c1c1c;
    padding-right: 20px;
    
}

.title{
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.slider-container-details > a {
    text-decoration:underline;
    display: block;
}

.slider-container-details  {
    width: 50%;
    font-size: 17px;
    text-align: left;
    color: #696969;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.picture-slider-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
}

.slider-pic1{
    width: 20%; 
}

.slider-pic2{
    width: 15%;
}

.about-cover-pic img{
    width: 100%;
    height: 50%;
    filter: brightness(50%);
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

.about-cover-pic h1 {
    font-size: 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    left: 47%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-solid{
    color: white;
    font-size: 2em;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.about-details{
    position: absolute;
    top: 50%;
    text-align: center;
    padding: 5%;
    height: 800px;
    display: flex;
}

.about-container {
    display:flex;
    justify-content: space-around;
}

.about-photos{
    width: 50%;
    padding: 5%;
}

.about-text {
    width: 30%;
    justify-content: center;
    display: block;
    margin: auto;
}

.about-text h1{
    font-size: 50px;
    margin-bottom: 4% ;
    font-weight: lighter;
}

.about-text p{
    color: #7d7d7d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.about-pic-1{
    width: 60%;
    position: relative;
    top: 20%;
}

.about-pic-2{
    width: 50%;
    position: relative;
    top: 10%;
    left:10%;
}

.gallery-container{
    position: absolute; 
    top: 160%;
    background-color: white;
    padding: 2%;
}

.gallery-pic-container1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.gallery-pic-container2{
    display: flex;
    justify-content: space-around;
}

.gallery-pic-1{
    width: 25%;
    box-shadow: 2px 2px 10px #1c1c1c ;
    border-radius: 10px;;
}









@media screen and (max-width: 1200px) {

.intro-title{
    font-size: 50px;
}

.about-text h1{
    font-size: 30px;
}

.about-text p {
    font-size: 18px;
}
.logo {
    width:70px;
}

.about-details{
    padding: 0;
    margin-top: 6%;
}
.about-pic-1{
    width: 80%;
    top: 20%;
    right: 3%;

}

.about-pic-2{
    width: 60%;
    position: relative;
    top: 10%;
    left:10%;
}

}




@media screen and (max-width: 720px) {

    nav {
        padding: 1rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color:#fffaea;
        flex-direction: column;
        top: 17%;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 10px;
    }

    nav a {
        color:#4a656c;
        font-weight: normal;
    }

    .burger-menu {
        display: block;
    }

    .logo {
        width: 50px;
        margin-left: 2rem;
    }
    

    nav ul.show {
    transform: translateX(0);
    }

    .intro-title{
        font-size: 29px;
    } 
    
    .intro-sub{
        font-size: 19px;
    }
    .title{
        font-size: 30px;

    }

    h3 {
        font-size: medium;
        
    }

    .slider-container-details{
        font-size: small;
        letter-spacing: normal;
    }

    .about-text h1{
        font-size: 20px;
    }

    .about-text p {
        font-size: 14px;
    }

    .about-details{
        margin-top: 6%;
    }
}

@media screen and (max-width: 600px) {

    .intro-title{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .intro-sub{
        font-size: 14px;
    }

    .about-pic-1{
        top: 30%;
    }
    
    .about-pic-2{
        top: 30%;
    }

.about-container{
    top:30%;
    height: 100%;
}
.gallery-container{
    top:175%
}

.about-cover-pic h1{
    font-size: 30px;
}

.about-cover-pic i{
    font-size: 20px;
}
} 
